<div class="sidebar well">
<img src="{{ site.baseurl}}/images/favicon.ico" alt="" align=center/>
<h4>
{{ site.description }}
</h4>
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="sidebar well">
	<h1>标签</h1>
		{% for item in site.tags %}
			{% if item[1] | size != 0 %}
				<li><a href="{{ site.baseurl }}/tag/{{ item[0] }}" title="{{ item[0] }}">{{ item[0] }}<sup>{{ item[1] | size }}</sup></a></li>
			{% endif %}
		{% endfor %}
</div>
<!-- 
<div class="sidebar well">
{% include links-list.html %}
</div> -->
